#--------OAuth2.0 Client Configuration---------
scope=
grant_type=client_credentials
client_id=SuperOAuthArticle
client_secret=YourFeedbackIsAppreciated
access_token=
authentication_server_url=http://jeffhoy1.rtp.raleigh.ibm.com:9080/oauth2/endpoint/DemoProvider/token
#resource_server_url=http://jeffhoy1.rtp.raleigh.ibm.com:9080/snoop
#------------------------------------------------


























