#--------OAuth2.0 Client Configuration---------
scope=https://www.googleapis.com/auth/drive
#state=
grant_type=authorization_code
#username=
#password=
client_id=
client_secret=
#access_token=
refresh_token=
approval_prompt_key=approval_prompt
approval_prompt_value=auto
access_type_key=access_type
access_type_value=offline
redirect_uri=http://localhost:8080/OAuth2.0_AuthCode/handler
authentication_server_url=https://accounts.google.com/o/oauth2/auth
token_endpoint_url=https://accounts.google.com/o/oauth2/token
resource_server_url=https://www.googleapis.com/drive/v2/about
#------------------------------------------------






















