#--------OAuth2.0 Client Configuration---------
#scope=
#state=
grant_type=authorization_code
#username=
#password=
client_id=
client_secret=
#access_token=
refresh_token=
approval_prompt_key=prompt
approval_prompt_value=login consent
access_type_key=access_type
access_type_value=offline
redirect_uri=http://localhost:8080/OAuth2.0_AuthCode/handler
authentication_server_url=
token_endpoint_url=
resource_server_url=
#------------------------------------------------






















